@import "/src/styles/base/colors";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(12px);
  height: 4rem;
  padding: 0 1rem;
  border-bottom: 2px solid $color-border;
  background-color: $color-bg-base;

  .hamburger {
    color: $color-text-base100;
    cursor: pointer;
  }
}
