@import "/src/styles/base/colors";
@import "/src/styles/utils/responsive";

.backdropSidebar {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.103);
  backdrop-filter: blur(1px) !important;
  z-index: 51;
  transition: all 1s;
  @include respond(desktop) {
    display: none;
  }
}

.openBackdrop {
  animation: openBackdropAnimate 0.5s;
  animation-fill-mode: both;
}

.closeBackdrop {
  display: none;
}

.openSidebar.openSidebar {
  transform: translateX(0);
  @include respond(desktop) {
    width: 16rem;
  }
}

.closeSidebar.closeSidebar {
  transform: translateX(-16rem);
  @include respond(desktop) {
    transform: translateX(0);
    width: 4rem;
  }
}

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 51;
  background-color: $color-bg-base;
  height: 100vh;
  width: 16rem;
  border-right: 1px solid $color-border;
  transition: all 0.5s;

  @include respond(tablet) {
    width: 16rem;
  }
  @include respond(desktop) {
    position: sticky;
    top: 0;
  }

  .header {
    position: relative;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    border-bottom: 1px solid $color-border;

    .logoOpened {
      width: 3rem;
      transition: all 0.5s;
    }

    .logoClosed {
      width: 3rem;
      transition: all 0.5s;
    }

    .logoTitleOpened {
      width: 4rem;
      animation: openBackdropAnimate 0.5s;
    }

    .logoTitleClosed {
      width: 4rem;
      display: none;
      animation: closeBackdropAnimate 0.5s;
    }

    .arrow {
      position: absolute;
      right: 1px;
      color: $color-text-base100;
      cursor: pointer;

      @include respond(desktop) {
        display: none;
      }
    }
  }

  .body {
    height: 80%;
    overflow-y: auto;
    padding: 0 12px;
    padding-top: 1rem;

    .menu {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;

      .titleMenu {
        font-weight: 700;
        color: $color-text-base100;
        font-size: 1rem;
      }

      .titleMenu__closed {
        font-size: 0.8rem;
      }

      .menuItem {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 0.5rem;
        border-radius: 10px;
        text-transform: capitalize;
        font-weight: 500;
        transition: background 0.3s;
        cursor: pointer;
        color: $color-text-base;

        &:hover {
          background-color: lighten($color: $color-primary, $amount: 0);
          color: $color-bg-base;
        }

        span.close {
          display: none;
        }

        text-align: center;

        span {
          font-size: 1.1rem;
        }
      }

      .menuItem__active {
        background-color: lighten($color: $color-primary, $amount: 43);
        color: $color-primary;
      }
    }
  }

  .footer {
    flex-grow: 1;
    background-color: green;
  }
}

/*
  Animation
*/

@keyframes openBackdropAnimate {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes closeBackdropAnimate {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
