@import "/src/styles/base/colors";
@import "/src/styles/utils/responsive";

.backdropSidebar {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.103);
  backdrop-filter: blur(1px) !important;
  z-index: 49;
  transition: all 1s;
  @include respond(desktop) {
    display: none;
  }
}

.openBackdrop {
  animation: openBackdropAnimate 0.5s;
  animation-fill-mode: both;
}

.closeBackdrop {
  animation: closeBackdropAnimate 0.5s;
  animation-fill-mode: both;
}

.openSidebar.openSidebar {
  transform: translateX(0);
  @include respond(desktop) {
    width: 16rem;
  }
}

.closeSidebar.closeSidebar {
  transform: translateX(-16rem);
  @include respond(desktop) {
    transform: translateX(0);
    width: 4rem;
  }
}

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 50;
  background-color: $color-bg-base;
  height: 100vh;
  width: 16rem;
  border-right: 1px solid $color-border;
  transition: all 0.5s;

  @include respond(tablet) {
    width: 16rem;
  }
  @include respond(desktop) {
    position: static;
  }

  .header {
    position: relative;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $color-border;

    .logoOpened {
      width: 8rem;
    }

    .arrow {
      position: absolute;
      right: 1px;
      color: $color-text-base100;
      cursor: pointer;

      @include respond(desktop) {
        display: none;
      }
    }
  }

  .body {
    margin-top: 3px;
    height: 80%;
    overflow-y: auto;
    padding: 0 10px;

    .menu {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .menuItem {
        display: flex;
        align-items: center;
        gap: 7px;
        padding: 1rem;
        border-radius: 10px;
      }
    }
  }

  .footer {
    flex-grow: 1;
    background-color: green;
  }
}

/*
  Animation
*/

@keyframes openBackdropAnimate {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes closeBackdropAnimate {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
