/*
    ======Light Mode======
*/

$color-bg-base: #f8fafc;
$color-primary: #2ec4b6;
$color-secondary: #cbf3f0;
$color-accent: #ff9f1c;
$color-info: #b9e6ff;
$color-success: #8cff98;
$color-error: #ed6a5e;
$color-border: #e8e8e8;
$color-text-base: #344055;
$color-text-base100: #96939b;
